div {
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    border-radius: 100%;
    background-image: url("French-bulldog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    border: 10px groove orangered;
    border-radius: 100%;
}

.dogone {
    border: 10px dotted orangered;
}

.dogtwo {
    border: 10px dashed orangered;
}

.dogthree {
    border: 10px double orangered;
}